<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMCA Compliance</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Admin" />
    <meta name="robots" content="index, follow" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.38/moment-timezone-with-data.min.js"></script>
  </head>
  <body class="d-flex flex-column justify-content-between " style="height: 100vh;">
    <%- include("./partials/navbar.ejs") %>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <h1>DMCA Compliance</h1>

          <p>
            We respect the intellectual property rights of others and expect
            users of our services to do the same. If you believe that your
            copyrighted work has been used on our services in a way that
            constitutes copyright infringement and falls outside of fair use,
            please provide our designated agent with a written notification that
            includes the following information:
          </p>

          <ol>
            <li>
              A physical or electronic signature of a person authorized to act
              on behalf of the owner of an exclusive right that is allegedly
              infringed.
            </li>
            <li>
              Identification of the copyrighted work claimed to have been
              infringed, or, if multiple copyrighted works at a single online
              site are covered by a single notification, a representative list
              of such works at that site.
            </li>
            <li>
              Identification of the material that is claimed to be infringing or
              to be the subject of infringing activity and that is to be removed
              or access to which is to be disabled, and information reasonably
              sufficient to permit us to locate the material.
            </li>
            <li>
              Information reasonably sufficient to permit us to contact you,
              such as an address, telephone number, and, if available, an
              electronic mail address at which you may be contacted.
            </li>
            <li>
              A statement that you have a good faith belief that use of the
              material in the manner complained of is not authorized by the
              copyright owner, its agent, or the law.
            </li>
            <li>
              A statement that the information in the notification is accurate,
              and under penalty of perjury, that you are authorized to act on
              behalf of the owner of an exclusive right that is allegedly
              infringed.
            </li>
          </ol>

          <p>
            Our designated agent to receive notifications of claimed
            infringement can be reached at:
          </p>

          <address>
           <b> Contact Us: admin@viprow1.com
          </address>

          <p>
            Upon receipt of a valid DMCA notification, we will take appropriate
            action, which may include removal of the allegedly infringing
            material.
          </p>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
