<footer class="bg-info text-white fw-bold pt-2 pb-5">
  <div class="d-flex justify-content-center gap-2 mb-1">
    <a href="/sitemap.xml" class="text-light">Sitemap</a>
    <a href="/privacy-policy" class="text-light">Privacy Policy</a>
    <a href="/dmca" class="text-light">DMCA</a>
  </div>
  <div class="text-center">
    Legal Disclaimer : <a href="/" class="text-light">viprow1.com </a> does not host any live stream videos. All videos are on other streaming sites that are free online. For takedown requests or DMCA complaints, please contact the video hosting site or the original poster.
  </div>
</footer>

   <!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4877060,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4877060&101" alt="free page hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->